# Dependencies
node_modules/

# Environment variables
.env
/Users/bethcartrette/REPOS/spanos-eds-chatbot/app/streamlit-rag-chatbot/.env

# Build output
app/build/

# Firebase cache
.firebase/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

venv/
/Users/bethcartrette/REPOS/spanos-eds-chatbot/venv

.streamlit/secrets.toml
/Users/bethcartrette/REPOS/spanos-eds-chatbot/.streamlit/secrets.toml