# Dependencies
node_modules/

# Environment variables
.env
/Users/bethcartrette/REPOS/spanos-eds-chatbot/app/streamlit-rag-chatbot/.env

# Build output
app/build/

# Firebase cache
.firebase/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# Streamlit secrets
.streamlit/secrets.toml

# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Streamlit secrets
.streamlit/secrets.toml
/Users/bethcartrette/REPOS/spanos-eds-chatbot/.streamlit/secrets.toml
/Users/bethcartrette/dr-spanos-chatbot/.streamlit/secrets.toml.template

.env
DrSpanos_Chatbot/venv